<table class="primary">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each friend in model}}
    <tr>
      <td>{{link-to friend.fullName 'friends.show' friend}}</td>
      <td>{{link-to friend.email 'friends.show' friend}}</td>
      <td><a href="" {{action "delete" friend}}>Delete</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>

{{model.length}} friends.
