
{{#link-to 'friends.index'}}Back to friends index{{/link-to}}

<ul>
  <li>First name: {{model.first_name}}</li>
  <li>Last name: {{model.last_name}}</li>
  <li>Email: {{model.email}}</li>
  <li>Twitter: {{model.twitter}}</li>
</ul>
