<table class="primary">
  <thead>
    <tr>
      <th>Description</th>
      <th>Note</th>
      <th>Borrowed since</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |article|}}
        {{'articles/article-row' article=article save='save' articleStates=possibleStates}}
    {{/each}}
  </tbody>
</table>
